@import "tailwindcss";

// @import "nextra/styles/default.css";
// @import "nextra/styles/code-block.css";
// @import "nextra/styles/subheading-anchor.css";
// @import "nextra/styles/scrollbar.css";
// @import "nextra/styles/steps.css";
// @import "nextra/styles/cards.css";
// @import "nextra/styles/react-medium-image-zoom.css";
// @import "../css/hamburger.css";
// @import "../css/typesetting-article.css";

// @theme {
// }

// @utility nextra-focus {
//   @apply focus-visible:outline-none ring-2 ring-primary-200 ring-offset-1 ring-offset-primary-300 dark:ring-primary-800 dark:ring-offset-primary-700;
// }

html {
  --nextra-navbar-height: 64px;
  --nextra-menu-height: 3.75rem;

  @apply antialiased text-base;
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1;
  -webkit-tap-highlight-color: transparent;

  &:not(:has(*:focus)) {
    /* adding `:not` with `:has` otherwise page jumps while focusing or while tapping in input https://github.com/shuding/nextra/issues/2840 */
    @apply scroll-pt-(--nextra-navbar-height);
  }
}

.contains-task-list {
  @apply mt-6;

  input[type="checkbox"] {
    @apply me-1;
  }
}

.footnotes a[data-footnote-backref] {
  font-family: initial;
}

@keyframes fade-in2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nextra-border {
  @apply border-gray-200 dark:border-neutral-800 contrast-more:border-neutral-400!;
}

.nextra-mask {
  mask-image: linear-gradient(
      to bottom,
      transparent,
      #000 20px,
      transparent 100%
    ),
    linear-gradient(to top, transparent, #000 20px, transparent 100%);
  @apply contrast-more:[mask-image:none];
}
